*{
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}
body{
  background-image: url(Image/Arena/image.jpg);
  background-repeat: repeat-repeat-x;
  background-size: 100%;
  margin: auto;
  font-family: cursive;
}
.header{
  padding: 20px 0;
  white-space: nowrap;
  text-align: center;
}
.interface img{
  width: 70%;
  margin: 0 15%;
  height: 300px;
}
.interface p, h4 {
  width: 70%;
  margin: 0 15%;
}
.interface a{
  text-decoration: none;
  font-size: 40px;
  color: #fff;
}
