body{
  width: 50%;
  margin: auto;
  line-height: 30px;
  background-color: #09A7A1;
  font-family: cursive;
  font-size: 20px;
}
h1{
  white-space: wrap;
  text-align: center;
  line-height: 40px;
}
.all-turns{
  background-color: #ccc;
}
p{
  background-color: orange;
  padding: 10px;
}
